* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    --bg-color: #fff;
    --sidebar-color: color-mix(in srgb, #000 25%, #fff);
    --dark-color: #222;
    --fb-color: #003366;
    --wood: #8B5E3C;
    height: 100dvh; 
    width: 100dvw;
    display: grid;
    place-items: center;
    background-image: url(../IMAGES/Troncos.webp);
    background-size: cover;
    font-family: Montserrat;
}

nav { 
    position: absolute;
    top: 0;
    left: 0;
}

.home-link__container  a {
    color: var(--bg-color);
}

.material-symbols-outlined {
    font-size: 2.5rem;
    font-weight: bolder;
    margin: 10px 15px;
    transition: filter .3s;
}

.material-symbols-outlined:hover {
    filter: drop-shadow(0 0 5px #fff);
}


main {
    display: flex;
    flex-direction: row;
    background-color: var(--sidebar-color);
    border-radius: 75px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.35);
    width: clamp(50%, 820px, 100%);
    height: 500px;
    overflow: hidden;
}

.info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--fb-color);
    color: #fff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    border-radius: 0 75px 75px 0;
}

h1 {
    font-size: 2.8rem;
    margin-bottom: 45px;
}

.material-symbols-outlined {
    font-size: 3rem;
    position: relative;
    top: .5rem
}
 
ul {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

li p {
    text-align: justify;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 60dvh;
    width: 50%;
    height: 100%;
}

form > button[type="submit"], input[type="submit"] {
    background-color: var(--fb-color);
    color: #fff;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-family: inherit;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    transition: box-shadow .3s;
    outline: none;
}

form > button[type="submit"]:hover, input[type="submit"]:hover {
    box-shadow: 7px 7px 0px rgb(100, 166, 231),
                -7px -7px 0px #335a94;
}

form input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    font-family: inherit;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

form input:focus {
    outline: var(--wood) 1px solid;
}

form a {
    color: #333;
    text-decoration: none;
    margin-top: 45px;
    font-size: .9rem;
}

form a:hover {
    text-decoration: underline;
}

form > div, form > button {
    width: 100%;
}

.errorlist {
    list-style: none;
}

.errorlist li {
    color: #e24;
    font-size: .9rem;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        height: 80vh;
    }

    .info {
        width: 100%;
        height: 50%;
        border-radius: 75px 75px 0 0;
    }

    form {
        width: 100%;
        height: 50%;
        border-radius: 0 0 75px 75px;
    }
    
}