.create-subuser{
    display: none;
}

.create-group {
    display: none;
}


#create-subuser:checked ~ .create-subuser {
    display: block;
}

#create-group:checked ~ .create-group {
    display: block;
}