* {
    box-sizing: border-box;
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
}

body, div, ul, li, a, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

label, .sidebar__nav {
    user-select: none;
}

.container {
    margin: 0;
    padding: 0; 
}

.row {
    margin: 0;
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 100%;
    }
}
 
body {
    --bg-color: #fff;
    --sidebar-color: color-mix(in srgb, #000 25%, #fff);
    --dark-color: #222;
    --fb-color: #003366;
    --wood: #8B5E3C; 
    background-color: var(--bg-color);
    font-family: Montserrat;
    display: flex;
    flex-flow: row nowrap;
}



/*  MAIN STYLES  */

main {
    height: 100dvh;
    width: clamp(calc(100dvw - 300px), 80dvw, calc(100dvw - 220px));
    background-color: var(--bg-color);
    position: fixed;
    right: 0;
    background-image: url(../IMAGES/Escritorio.webp);
    background-size: cover;
    overflow-y: auto;
}

aside:has(input[type="checkbox"]:checked) ~ main {
    width: calc(100dvw - 62px);
}
 
.filter-bar {
    width: 100%;
    height: calc(2rem + 44.78px);
    background-color: var(--fb-color);
    container-name: filter-bar;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.filter-bar__filter-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.filter-bar__filter-container  > div, .filter-bar__filter-container > input  {
    color: var(--bg-color);
    display: grid;
    place-content: center;
}

.filter-bar__filter-container > input {
    background-color: transparent;
    border: none;
}

.filter-bar__filter-container > input:hover {
    color: #D2B48C;
}

.filter-bar__z-a {
    transform: rotate(180deg);
}

.filter-bar__filter-container > .filter-bar__name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-bar__name > input {
    height: auto;
}

.filter-bar__name > input[type="text"] {
    width: 80%;
    outline: none;
}

.filter-bar__name > input[type="submit"] {
    width: 20%;
}

.filter-bar__filter-container > .filter-bar__logo-container {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: .75rem;
}

.logo {
    height: clamp(15px, calc(10dvh - 5px), 75px);
    width: clamp(42px, calc(28dvh - 5px), 210px);
    margin: 2.5px 0;
}

/*Forms Styles*/
.close-formObject, .close-formGroup, .close-formSubuser {
    position: absolute;
    top: calc(calc(2rem + 44.78px) + 10px);
    margin-left: 15px;
    color: #fff;
    font-size: 2.5rem;
    font-weight: bolder;
    cursor: pointer;
    transition: filter .3s;
}

.close-formObject:hover, .close-formGroup:hover, .close-formSubuser:hover {
    filter: drop-shadow(0 0 5px #fff);
}

.create-object, .create-group, .create-subuser, .create-group {
    display: none;
}

#create-object:checked ~ .create-object, #create-group:checked ~ .create-group, #create-subuser:checked ~ .create-subuser {
    display: flex;
}

.forms-container:has(#create-object:checked) ~ .groups, .forms-container:has(#create-group:checked) ~ .groups, .forms-container:has(#create-subuser:checked) ~ .groups {
    display: none;
}

main:has(#create-object:checked), main:has(#create-group:checked), main:has(#create-subuser:checked) {
    overflow-y: hidden;
}

.objects-link__container{
    position: absolute;
}

.forms-container form {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 82.5dvh;
    width: 50%;
    padding: 0 40px;
    border-radius: 20px;
    margin: calc(calc(calc(100dvh - calc(2rem + 44.78px)) - 50dvh) / 2) 25%;
    margin-top: calc(calc(calc(100dvh - calc(2rem + 44.78px)) - 82.5dvh) / 2);
    background-color: var(--sidebar-color);
}


.forms-container input[type="submit"], .forms-container input[type="button"] {
    background-color: var(--fb-color);
    color: #fff;
    padding: 7px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-family: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: box-shadow .3s;
    outline: none;
} 

.forms-container input[type="submit"]:hover, .forms-container input[type="button"]:hover {
    box-shadow: 7px 7px 0px rgb(100, 166, 231),
                -7px -7px 0px #335a94;
}

.forms-container form input, form select, textarea, .group-container input[type="text"] {
    background-color: #eee;
    border: none;
    padding: 10px 15px;
    font-size: 13px;
    font-family: inherit;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

form select {
    cursor: pointer;
}

textarea {
    height: 20dvh;
    resize: none;
}

.forms-container form.create-object > div:has(input[id="id_name"]) {
    width: 70%;
    margin-right: 5%;
}

.forms-container form.create-object > div:has(input[id="id_stock"]) {
    width: 25%;
}

.forms-container form.create-object div:has(select) {
    width: 45%;
}

.forms-container form.create-object > div:has(select[id="id_group"]) {
    margin-right: 10%;
}
 
.forms-container form input:focus, form select:focus, textarea:focus, .group-container input[type="text"]:focus {
    outline: var(--wood) 1px solid;
}

.forms-container form a {
    color: #333;
    text-decoration: none;
    margin-top: 45px;
    font-size: .9rem;
}

.forms-container form a:hover {
    text-decoration: underline;
}

.forms-container form > div, .forms-container form > button {
    width: 100%;
}

.errorlist {
    list-style: none;
}

.errorlist li {
    color: #e24;
    font-size: .9rem;
}

/* DIALOG TO CREATE GROUP */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-content {
    background: var(--sidebar-color);
    padding: 20px 30px;
    border-radius: 12px;
    width: 30%;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    animation: fadeIn 0.2s ease-in-out;
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: right;
    gap: 5%;
}

.btn-cancel {
    background: #ccc;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-confirm, .btn-delete {
    background: var(--fb-color);
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-cancel:hover,
.btn-confirm:hover {     
    outline: var(--wood) 1px solid;
    color: var(--fb-color);
    background-color: var(--bg-color);
    font-weight: 600;
    box-shadow: var(--wood) 0 0 5px; }

.btn-delete:hover {
    outline: var(--wood) 1px solid;
    color: var(--sidebar-color);
    font-weight: 600;
    box-shadow: var(--wood) 0 0 5px; 
    background: #c9302c; }
/* DIALOG TO DELETE GROUP */



/* MESSAGES STYLES */
.hidden, .group-header > input[type="checkbox"].delete-checkbox.hidden {
    display: none;
}

.messages-container {
  position: fixed;
  top: 20px;
  right: 20px;
  max-width: 350px;
  z-index: 1050; 
  opacity: 95%;
}

.message-error {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f44336; 
  color: #fff;
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
  font-size: 14px;
  animation: slideIn 0.4s ease-out;
  transition: opacity .3s ease, transform .3s ease;
}

.message-success {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #080; 
  color: #fff;
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 10px #0001;
  font-size: 14px;
  animation: slideIn 0.4s ease-out;
  transition: opacity .3s ease, transform .3s ease;
}

.message-warning {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FCB426; 
  color: #fff;
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 10px #0001;
  font-size: 14px;
  animation: slideIn 0.4s ease-out;
  transition: opacity .3s ease, transform .3s ease;
}

.message-close-button {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.message-error.hidden, .message-success.hidden,.message-warning.hidden {
  opacity: 0;
  transform: translateY(-8px);
  pointer-events: none;
}

.groups {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.group-container {
  background: var(--sidebar-color);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
}

.group-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--fb-color);
  color: #fff;
  padding: 0.75rem 1rem;
  cursor: pointer;
  opacity: 0.8;
}

input[type="checkbox"].delete-checkbox {
    display: block;
    height: 1rem;
    width: 1rem;
    margin: .25rem 1rem .25rem .25rem;
}

.group-header h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  flex: 1;
}

.group-container .group-header:has(input[type="checkbox"].delete-checkbox:checked) {
    background-color: rgba(66, 162, 241, 0.9);
}

.delete:checked ~ .group-container .group-header .toggle-icon{
    display: none;
}

.group-header .toggle-icon {
  margin-right: 0.75rem;
  transition: transform 0.3s ease;
}

.group-header.active .toggle-icon {
  transform: rotate(180deg);
}

.group-in-charge {
  font-size: 0.85rem;
  opacity: 0.9;
  margin-left: auto;
}

.group-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--bg-color);
}

.group-container.open .group-body {
  max-height: 1000px; 
  padding: 1rem;
  border-top: 1px solid rgba(0,0,0,0.1);
}

.group-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  padding: .75rem;
  background: #eee;
  border-radius: 8px;
  position: relative;
}

.group-image img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--fb-color);
  cursor: pointer;
  transition: transform .3s;
}

.group-image img:hover {
  transform: scale(1.05);
}

.group-image .image-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: opacity .2s;
}

.group-image:hover .image-overlay {
  opacity: 1;
}

.image-input {
    display: none;
}

.group-image .delete-image {
  background: rgba(255,0,0,0.8);
  color: #fff;
  padding: .25rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
}

.group-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
}

.group-info label {
  font-size: .85rem;
  font-weight: 600;
  display: block;
  margin-bottom: .25rem;
}

.group-info input[type="text"], .group-info select {
  width: 100%;
  padding: .5rem .75rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-family: inherit;
}

.group-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.save-button {
  width: calc(100% - 10% - 1rem);
  background: var(--fb-color);
  color: #fff;
  padding: .5rem 1.2rem;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background .2s;
}

.save-button:hover {
  background: #004c99;
}

.delete-button {
  width: 10%;
  padding: .5rem;
  color: #c00;
  font-size: 1.5rem;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: solid 1px #c00;
  border-radius: 6px;
}

.delete-button:hover {
  background: rgba(255,0,0,0.1);
}

.group-description__container {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.group-description__container label {
  font-weight: 600;
  font-size: .9rem;
}

.group-description__container textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: .75rem;
  font-family: inherit;
  resize: none;
  min-height: 80px;
}


@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to   { opacity: 1; transform: scale(1); }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


@media (max-width: 768px) {
    .logo {
        display: none;
    }

    .filter-bar__filter-container > .filter-bar__z-a , .filter-bar__filter-container > .filter-bar__a-z, .filter-bar__filter-container > .filter-bar__logo-container {
        display: none;
    }

    .sidebar__form {
        display: none;
    }

    .forms-container form {
        width: 90%;
        margin-left: 5%;
        padding: 0 20px;
    }

    .forms-container form {
        height: 65dvh;
        margin-top: calc(calc(calc(100dvh - calc(2rem + 44.78px)) - 65dvh) / 2);
    } 

    .forms-container form input, form select {
        margin: 3% 0;
    }

    .forms-container form div {
        margin: 1% 0;
    }

    .close-formSubuser, .close-formGroup {
        position: absolute;
        top: calc(calc(2rem + 44.78px) + 10px);
        margin-left: 5%;
        font-size: 2rem;
    }

    textarea {
        height: 15dvh;
    }

    .forms-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .forms-container form {
        height: auto;
    }

    .delete-button {
        padding: 0;
        outline: none;
    }

    .group-in-charge {
        display: none;
    }
    .modal-content {
        width: 80%;
    }
}

@media (max-height: 840px) and (max-width: 1024px) {

    .forms-container form {
        height: 80dvh;
        margin-top: calc(calc(calc(100dvh - calc(2rem + 44.78px)) - 75dvh) / 2);
    } 
}

@media (min-height: 1024px) and (max-width: 1024px) {
    .forms-container form{
        width: 70%;
        margin-left: 15%;
        height: 60dvh;
        margin-top: calc(calc(calc(100dvh - calc(2rem + 44.78px)) - 60dvh) / 2);
    }

    textarea {
        height: 20dvh;
    }
} 

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 100%;
    }
}   

