nav.sidebar__nav > ul {
    justify-content: flex-start;
}

.sidebar__form:has(input[type="checkbox"]:checked) ~ nav.sidebar__nav > ul {
    justify-content: space-evenly;
}

.sidebar__tools > .sidebar__item {
    margin-bottom: 0;
}

.sidebar__item {
    margin-bottom: 5%;
}