* {
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
}

.sidebar {
    background-color: var(--sidebar-color);
    position: fixed;
    height: 100dvh;
    width: clamp(220px, 20dvw, 300px);
    font-size: clamp(1rem, 2.2vw, 3rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 0px 30px 0px;
}

.sidebar__nav { 
    display: flex; 
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
}

.sidebar__nav > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60dvh;
    width: 100%;
}

.sidebar__tools {
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 8px;
    border-top: 3px solid #fff;
    border-bottom: 2px solid #fff;
    border-radius: 10px;
}

.sidebar__tools > p {
    position: absolute;
    padding: 0 3px;
    top: -20px;
    left: 40px;
    font-size: 1rem;
    color: #fff;
    background-color: var(--sidebar-color);
}

.sidebar__tools label {
    cursor: pointer;
}

.sidebar__tools p > span {
    position: relative;
    top: 5px;
}

.sidebar__item-link {
    list-style: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: .7rem;
    padding-right: 6px;
    color: var(--dark-color);
    position: relative;
    transition: border-radius .4s;
}

.sidebar__item-link:hover, .sidebar__item-link.active {
    background-color: var(--bg-color);
    border-radius: 36px 0 0 36px; 
}

.active {
    opacity: 0.8;
}

.sidebar__item-link::before, .sidebar__item-link::after {
    content: ''; 
    position: absolute;
    right: 0;
    width: 13px;
    height: 13px;
    background-color: transparent;
    transition: border-radius .4s;
}

.sidebar__item-link:hover::before, .active::before {
    top: -13px;
    border-bottom-right-radius: 25px;
    box-shadow: 4px 4px 0 4px var(--bg-color);
}

.sidebar__item-link:hover::after, .active::after {
    bottom: -13px;
    border-top-right-radius: 25px;
    box-shadow: 4px -4px 0 4px var(--bg-color);
}

.sidebar__item-link > span {
    padding: 6px calc(12px + 0.2rem);
    font-size: 1.6rem;
}

.sidebar__item-link {
    color: inherit;
    text-decoration: none;
}

.delete-options {
    position: absolute;
    right: 10%;
}

.delete-options > input {
    color: #e24;
    background-color: transparent;
    border: none;
}

.delete-options > input:hover {
    filter: drop-shadow(0 0 3px #e24);
}

.delete-options > label:hover {
    filter: drop-shadow(0 0 3px #000);
}

.sidebar__profile { 
    position: relative;
    top: 20px;
}

.sidebar__profile img { 
    border-radius: 50%;
    width: 2rem;
}

.item--profile .profile-option {
    font-size: 1.15rem;
    text-transform: none;
    letter-spacing: .8px;
}

.item--profile {
    width: 100%;
    padding-left: 12px;
    padding-right: 0;
}

.item--profile:hover img {
    opacity: .7;
}

.sidebar__form {
    position: absolute;
    z-index: 20;
    right: -1rem;
    top: 1rem;
}

.open-menu {
    transition: background-color .2s;
}

.close-menu {
    transition: font-weight .2s, color .2s;
}
  
input[type="checkbox"], .open-menu {
    display: none;
}

.sidebar label.open-menu, .sidebar label.close-menu {
    position: relative;
    background-color: var(--fb-color);
    color: var(--sidebar-color);
    font-size: 2rem;
    border-radius: 50%;
    padding: .4rem;
}

.sidebar label.open-menu::before, .sidebar label.open-menu::after, .sidebar label.close-menu::before, .sidebar label.close-menu::after {
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: 10px;
    height: 25px;
    background-color: transparent;
}

.sidebar label.open-menu::before, .sidebar label.close-menu::before {
    top: -25px;
    left: 19px;
    border-bottom-right-radius: 25px;
    box-shadow: 4px 4px 0 4px var(--fb-color);
}

.sidebar label.open-menu::after, .sidebar label.close-menu::after {
    bottom: -25px;
    left: 19px;
    border-top-right-radius: 25px;
    box-shadow: 4px -4px 0 4px var(--fb-color); 
}

.sidebar:has(input[type="checkbox"]:checked) .close-menu {
    display: none;
}

.sidebar:has(input[type="checkbox"]:checked) .open-menu {
    display: block;
} 

input[type="checkbox"]:checked ~ label {
    color: var(--fb-color);
    background-color: var(--sidebar-color);
}

.sidebar:has(input[type="checkbox"]:checked) :is(.sidebar__form) {
    right: 6px;
}

input[type="checkbox"]:checked ~ label::before, input[type="checkbox"]:checked ~ label::after {
    display: none;
}

.sidebar:has(input[type="checkbox"]:checked) {
    width: fit-content;
}


.sidebar:has(input[type="checkbox"]:checked) .sidebar__tools > p {
    display: none;
}

.sidebar:has(input[type="checkbox"]:checked) :is(.sidebar__item-link > p, .profile-option) {
    display: none;
}

.open-menu:hover, .close-menu {
    cursor: pointer;
} 

.sidebar__form > .open-menu:hover {
    background-color: var(--bg-color);
}

.sidebar__form > .close-menu:hover {
    color: var(--bg-color);
    font-weight: bold;
}


@media (max-width: 768px) {
    .sidebar__tools > .sidebar__item:has(.delete-object-label) {
        display: none;
    }
}

@media (max-width: 600px) {
    .sidebar {
        padding: 0;
    }

    .sidebar__nav {
        justify-content: flex-start;
        padding-top: calc(2rem + 44.78px);
    }

    .sidebar__nav > ul {
        justify-content: space-between; 
    }

    .sidebar__profile {
        top: 0;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 1000px) and (orientation: landscape) {
    body {
        overflow-y: scroll;
        min-height: 600px;
    }
    
    .sidebar {
        height: auto;
        overflow-x: hidden;
        position: relative;
        padding-top: 20px;
    }

    .sidebar__form {
        display: none;
    }

    .sidebar__nav {
        flex: 0;
    }

    .sidebar__profile {
        top: -5%
    }
}