nav.sidebar__nav > ul {
    justify-content: flex-start;
}

.sidebar__form:has(input[type="checkbox"]:checked) ~ nav.sidebar__nav > ul {
    justify-content: space-evenly;
}

.sidebar__tools > .sidebar__item {
    margin-bottom: 0;
}

.sidebar__item {
    margin-bottom: 5%;
} 

.sidebar__profile ul li:first-child a {
    padding-top: 0.22rem;
    padding-bottom: 0.2rem;
}