* {
    box-sizing: border-box;
}

body, div, ul, li, a, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}


label, .sidebar__nav {
    user-select: none;
}

.container {
    margin: 0;
    padding: 0; 
}

.row {
    margin: 0;
}

body {
    --bg-color: #fff;
    --sidebar-color: color-mix(in srgb, #000 25%, #fff);
    --dark-color: #222;
    --fb-color: #003366;
    --wood: #8B5E3C;  
    background-color: var(--bg-color);
    font-family: Montserrat;
}

main {
    height: 100dvh;
    width: clamp(calc(100dvw - 300px), 80dvw, calc(100dvw - 220px));
    background-color: var(--bg-color);
    position: fixed;
    right: 0;
    background-image: url(../IMAGES/Escritorio.webp);
    background-size: cover;
    overflow-y: auto;
}

aside:has(input[type="checkbox"]:checked) ~ main {
    width: calc(100dvw - 62px);
}

.filter-bar {
    width: 100%;
    height: calc(2rem + 44.78px);
    background-color: var(--fb-color);
    container-name: filter-bar;
}

.filter-bar__filter-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.filter-bar__filter-container  > div, .filter-bar__filter-container > input  {
    color: var(--bg-color);
    display: grid;
    place-content: center;
}

.filter-bar__filter-container > input {
    background-color: transparent;
    border: none;
}

.filter-bar__filter-container > input:hover {
    color: #D2B48C;
}

.filter-bar__z-a {
    transform: rotate(180deg);
}

.filter-bar__filter-container > .filter-bar__name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-bar__name > input {
    height: auto;
}

.filter-bar__name > input[type="text"] {
    width: 80%;
    outline: none;
}

.filter-bar__name > input[type="submit"] {
    width: 20%;
}

.filter-bar__filter-container > .filter-bar__logo-container {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: .75rem;
}

.logo {
    height: clamp(15px, calc(10dvh - 5px), 75px);
    width: clamp(42px, calc(28dvh - 5px), 210px);
    margin: 2.5px 0;
}

.group-container {
    width: 90%;
    height: 30dvh;
    margin: 2.5% 5%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow: hidden;
    background-color: var(--bg-color);
    border: #335a94 2px solid;
    border-radius: 8px;
    background-color: #b8bec9;
    position: relative;
}

form input, .group-permissions__container > select, textarea {
    background-color: #eee;
    border: none;
    padding: 7px 10.5px;
    font-size: 13px;
    font-family: inherit;
    border-radius: 8px;
    outline: none;
    margin: 0;
}

form select {
    cursor: pointer;
}

form input:focus, form select:focus, textarea:focus {
    outline: var(--wood) 1px solid;
}

.group-image {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    width: 100%;
    height: 100%;
    padding-right: 10px;
}

.group-image > label {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.group-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-right: #335a94 2px solid;
}

.image-overlay { 
    display: none;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0004;
    border-radius: 6px 0 0 6px;
    top: 0;
}

.group-image:hover .image-overlay {
    display: block;
}

label.material-symbols-outlined {
    background-color: transparent;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
}

label.material-symbols-outlined:hover {
    filter: drop-shadow(0 0 5px #fff);
}

.group-image > div {
    display: none;
}

.group-info {
    display: flex;
    flex-direction: row;
    grid-column: span 6 / span 6;
    grid-column-start: 4;
    align-items: center;
    padding: 10px;
    padding-bottom: 7.5px;
    position: relative;
}

.group-name__container {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 2.5%;
}

.group-name__container input {
    width: 80%;
}

.group-permissions__container {
    width: 40%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.group-permissions__container select {
    width: 50%;
}

.group-description__container {
    grid-area: 2 / 4 / 4 / 10;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.group-description__container label {
    margin-bottom: 2.5px;
}

.group-description__container > textarea {
    width: calc(100% - 10px);
    height: 55%;
    resize: none;
    margin: 0;
}

.material-symbols-outlined.delete-button {
    position: absolute;
    right: 20px;
    background-color: transparent;
    color: crimson;
    font-size: 2rem;
    cursor: pointer;
    padding: 0;
}

.material-symbols-outlined.delete-button:hover, .material-symbols-outlined.delete-button:focus {
    filter: drop-shadow(0 0 5px #fff);
    outline: none;
}

.save-button {
    position: relative;
    top: 22.5dvh;
    right: 10px;
    background-color: var(--fb-color);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color .3s, color .3s, outline .3s;
}

.save-button:hover {
    background-color: var(--bg-color);
    color: var(--fb-color);
    outline: var(--wood) 1px solid;
}

.errorlist li {
    color: #e24;
    font-size: .9rem;
    position: absolute;
    list-style: none;
    bottom: 10px;
}

@media (max-width: 768px) {
    .logo {
        display: none;
    }

    .filter-bar__filter-container > .filter-bar__z-a , .filter-bar__filter-container > .filter-bar__a-z, .filter-bar__filter-container > .filter-bar__logo-container {
        display: none;
    }

    .sidebar__form {
        display: none;
    }
}



@media (max-width: 900px) {
    .group-container {
        width: 90%;
        height: 35dvh;
        margin: 2.5% 5%;
        display: flex;
        flex-direction: column;
        padding: 0;
        overflow-y: auto;
    }

    .group-image {
        width: 100%;
        height: 30%;
        padding: 0;
        border-bottom: #335a94 2px solid;
    }

    .group-image img {
        border: none;
    }

    .group-info {
        width: 100%;
        height: 20%;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    .group-name__container, .group-permissions__container {
        width: 70%;
    }

    .group-description__container {
        width: 100%;
        height: 40%;
        padding: 0;
        padding-left: 10px;
        margin-top: 3vh;
    }

    .save-button {
        top: 11dvh;
        align-self: center;
    }
}

@media (max-height: 840px) and (max-width: 900px) {
    .group-container {
        height: 50dvh;
    }

    .group-description__container {
        margin-top: 5dvh;
    }

    .save-button {
        top: 16dvh;
    }
}

@media (min-height: 950px) and (max-width: 900px) {
    .save-button {
        top: 13dvh;
    }
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 100%;
    }
}