* {
    box-sizing: border-box;
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
}

body, div, ul, li, a, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

label, .sidebar__nav {
    user-select: none;
}

.container {
    margin: 0;
    padding: 0; 
}

.row {
    margin: 0;
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 100%;
    }
}
 
body {
    --bg-color: #fff;
    --sidebar-color: color-mix(in srgb, #000 25%, #fff);
    --dark-color: #222;
    --fb-color: #003366;
    --wood: #8B5E3C; 
    background-color: var(--bg-color);
    font-family: Montserrat;
    display: flex;
    flex-flow: row nowrap;
}



/*  MAIN STYLES  */

main {
    height: 100dvh;
    width: clamp(calc(100dvw - 300px), 80dvw, calc(100dvw - 220px));
    background-color: var(--bg-color);
    position: fixed;
    right: 0;
    background-image: url(../../IMAGES/Escritorio.webp);
    background-size: cover;
    overflow-y: auto;
}

aside:has(input[type="checkbox"]:checked) ~ main {
    width: calc(100dvw - 62px);
}
 
.filter-bar {
    width: 100%;
    height: calc(2rem + 44.78px);
    background-color: var(--fb-color);
    container-name: filter-bar;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.filter-bar__filter-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.filter-bar__filter-container  > div, .filter-bar__filter-container > input  {
    color: var(--bg-color);
    display: grid;
    place-content: center;
}

.filter-bar__filter-container > input {
    background-color: transparent;
    border: none;
}

.filter-bar__filter-container > input:hover {
    color: #D2B48C;
}

.filter-bar__z-a {
    transform: rotate(180deg);
}

.filter-bar__filter-container > .filter-bar__name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-bar__name > input {
    height: auto;
}

.filter-bar__name > input[type="text"] {
    width: 80%;
    outline: none;
}

.filter-bar__name > input[type="submit"] {
    width: 20%;
}

.filter-bar__filter-container > .filter-bar__logo-container {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: .75rem;
}
 
.logo {
    height: clamp(15px, calc(10dvh - 5px), 75px);
    width: clamp(42px, calc(28dvh - 5px), 210px);
    margin: 2.5px 0;
}

.objects-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    padding: 1.15rem 2.3rem;
    row-gap: 2rem;
} 

.object-card {
    width: 22.5dvw;
    height: 22.5dvh;
    background-color: var(--sidebar-color);
    border-radius: 15px;
    box-shadow: 0 4px 8px #0002;
    display: flex;
    flex-direction: row;
    text-align: center;
    cursor: pointer;
    padding: 0;
    border: #335a94 solid 2px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    position: relative;
    overflow: hidden;
}

.object-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px #0003;
}

.delete:checked ~ .object-card > .overlay {
    display: none;
    pointer-events: none;
}

.delete:checked ~ .object-card:hover {
    transform: none;
    cursor: default;
    box-shadow: 0 4px 8px #0002;
}

.overlay-select {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 13px;
    opacity: 0;
    display: none;
}

.delete-checkbox:checked ~ .overlay-select {
    display: block;
    opacity: 0.35;
    background-color: rgba(166, 210, 247);
}

.object-card > .delete-checkbox {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    z-index: 10;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 13px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.object-card:hover .overlay {
    opacity: 1;
}

.object-card__image-container {
    width: calc(50% - 2px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    background-image: linear-gradient(45deg, #ccc 25%, transparent 25%), 
                      linear-gradient(-45deg, #ccc 25%, transparent 25%), 
                      linear-gradient(45deg, transparent 75%, #ccc 75%), 
                      linear-gradient(-45deg, transparent 75%, #ccc 75%);
    background-size: 20px 20px;
    border-radius: 15px 0 0 15px;
}

.object-card__image-container > img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.object-card__info-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-left: #335a94 solid 2px;
}

.object-card__name {
    width: 100%;
    padding: 0 5%;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
    white-space: nowrap;       
    overflow: hidden; 
    text-overflow: ellipsis;
}

.object-card__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 5%;
}

.object-card__info p {
    margin: -0.12rem 0;
    font-size: .9rem;
}

/* FORMS STYLES */

.close-formObject, .close-formGroup {
    position: absolute;
    top: calc(calc(2rem + 44.78px) + 10px);
    margin-left: 15px;
    color: #fff;
    font-size: 2.5rem;
    font-weight: bolder;
    cursor: pointer;
    transition: filter .3s;
}

.close-formObject:hover, .close-formGroup:hover {
    filter: drop-shadow(0 0 5px #fff);
}

.create-object, .create-group{
    display: none;
}

#create-object:checked ~ .create-object, #create-group:checked ~ .create-group {
    display: flex;
}

.objects-link__container{
    position: absolute;
}

.forms-container form {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 82.5dvh;
    width: 50%;
    padding: 0 40px;
    border-radius: 20px;
    margin: calc(calc(calc(100dvh - calc(2rem + 44.78px)) - 82.5dvh) / 2) 25%;
    background-color: var(--sidebar-color);
}

.forms-container input[type="submit"], .forms-container input[type="button"] {
    background-color: var(--fb-color);
    color: #fff;
    padding: 7px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-family: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: box-shadow .3s;
    outline: none;
} 

.forms-container input[type="submit"]:hover, .forms-container input[type="button"]:hover {
    box-shadow: 7px 7px 0px rgb(100, 166, 231),
                -7px -7px 0px #335a94;
}

.forms-container form input, form select, textarea {
    background-color: #eee;
    border: none;
    padding: 10px 15px;
    font-size: 13px;
    font-family: inherit;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

form select {
    cursor: pointer;
}

textarea {
    height: 20dvh;
    resize: none;
}

.forms-container form.create-object > div:has(input[id="id_name"]) {
    width: 70%;
    margin-right: 5%;
}

.forms-container form.create-object > div:has(input[id="id_stock"]) {
    width: 25%;
}

.forms-container form.create-object div:has(select) {
    width: 45%;
}

.forms-container form.create-object > div:has(select[id="id_group"]) {
    margin-right: 10%;
}
 
.forms-container form input:focus, form select:focus, textarea:focus {
    outline: var(--wood) 1px solid;
}

.forms-container form a {
    color: #333;
    text-decoration: none;
    margin-top: 45px;
    font-size: .9rem;
}

.forms-container form a:hover {
    text-decoration: underline;
}

.forms-container form > div, .forms-container form > button {
    width: 100%;
}

.errorlist {
    list-style: none;
}

.errorlist li {
    color: #e24;
    font-size: .9rem;
}



/* MESSAGES STYLES */
.hidden, .object-card > .delete-checkbox.hidden {
    display: none;
}

.messages-container {
  position: fixed;
  top: 20px;
  right: 20px;
  max-width: 350px;
  z-index: 1050; 
  opacity: 95%;
}

.message-error {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f44336; 
  color: #fff;
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
  font-size: 14px;
  animation: slideIn 0.4s ease-out;
  transition: opacity .3s ease, transform .3s ease;
}

.message-success {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #080; 
  color: #fff;
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 10px #0001;
  font-size: 14px;
  animation: slideIn 0.4s ease-out;
  transition: opacity .3s ease, transform .3s ease;
}

.message-warning {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FCB426; 
  color: #fff;
  padding: 12px 16px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 10px #0001;
  font-size: 14px;
  animation: slideIn 0.4s ease-out;
  transition: opacity .3s ease, transform .3s ease;
}

.message-close-button {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.message-error.hidden, .message-success.hidden,.message-warning.hidden {
  opacity: 0;
  transform: translateY(-8px);
  pointer-events: none;
}

/* DIALOG TO CREATE GROUP*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-content {
    background: var(--sidebar-color);
    padding: 20px 30px;
    border-radius: 12px;
    width: 30%;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    animation: fadeIn 0.2s ease-in-out;
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: right;
    gap: 5%;
}

.btn-cancel {
    background: #ccc;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-confirm, .btn-delete {
    background: var(--fb-color);
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-delete:hover {
    outline: var(--wood) 1px solid;
    color: var(--sidebar-color);
    font-weight: 600;
    box-shadow: var(--wood) 0 0 5px; 
    background: #c9302c; }

.btn-cancel:hover,
.btn-confirm:hover {     
    outline: var(--wood) 1px solid;
    color: var(--fb-color);
    background-color: var(--bg-color);
    font-weight: 600;
    box-shadow: var(--wood) 0 0 5px; }

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to   { opacity: 1; transform: scale(1); }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    .logo {
        display: none;
    }

    .filter-bar__filter-container > .filter-bar__z-a , .filter-bar__filter-container > .filter-bar__a-z, .filter-bar__filter-container > .filter-bar__logo-container {
        display: none;
    }

    .sidebar__form {
        display: none;
    }
    .modal-content {
        width: 80%; 
    }
}



@media (max-width: 768px) {
    .sidebar__form, .filter-bar__filter-container > .filter-bar__logo-container {
        display: none;
    }
    
    td:last-child, th:last-child {
        display: none;
    }

    .forms-container form {
        width: 90%;
        margin-left: 5%;
        padding: 0 20px;
    }

    .forms-container form {
        height: 65dvh;
        margin-top: calc(calc(calc(100dvh - calc(2rem + 44.78px)) - 65dvh) / 2);
    } 

    .forms-container form input, form select {
        margin: 3% 0;
    }

    .forms-container form div {
        margin: 1% 0;
    }

    .close-formSubuser, .close-formGroup {
        position: absolute;
        top: calc(calc(2rem + 44.78px) + 10px);
        margin-left: 5%;
        font-size: 2rem;
    }

    textarea {
        height: 15dvh;
    }

    .forms-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .forms-container form {
        height: auto;
    }

    .object-card {
        width: 85dvw;
        height: 17.5dvh;
    }

    .object-card__quantity {
        display: none;
    }
}


@media (max-height: 840px) and (max-width: 1024px) {

    .forms-container form {
        height: 80dvh;
        margin-top: calc(calc(calc(100dvh - calc(2rem + 44.78px)) - 75dvh) / 2);
    } 
    .modal-content {
        width: 65%;
    }
}

@media (min-height: 1024px) and (max-width: 1024px) {
    .forms-container form{
        width: 70%;
        margin-left: 15%;
        height: 60dvh;
        margin-top: calc(calc(calc(100dvh - calc(2rem + 44.78px)) - 60dvh) / 2);
    }

    textarea {
        height: 20dvh;
    }
} 

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 100%;
    }
}   