{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="{%static '/CSS/sideBarStyles.css'%}">
    <link rel="stylesheet" href="{% static '/CSS/Borrowings/borrowingsStyles.css' %}">
    {% if permissions == "Estudiante" %}
    <link rel="stylesheet" href="{%static '/CSS/sideBarSmallStyles.css'%}">
    {% endif %}
    <title>Prestamos - Log Inventory</title>
    <link rel="icon" href="{%static '/IMAGES/LogoMini.webp'%}" type="image/webp">
    <meta name="description" content="Prestamos Log Inventory">
    <meta name="author" content="Log Inventory"> 
    <meta name="robots" content="noindex, nofollow">   
</head>   
<body>
    {% include 'sideBar.html' with path='manage_borrowings' profile=profile type=type permissions=permissions active_borrowings="active"%}
    <main>
        <div class="filter-bar container"> 
            <div class="filter-bar__filter-container row">
                <input type="submit" value="sort" class="filter-bar__a-z material-symbols-outlined col-md-1 col-0" title="Ordenar a-z">
                <input type="submit" value="sort" class="filter-bar__z-a material-symbols-outlined col-md-1 col-0" title="Ordenar z-a">
                <div class="filter-bar__name col-md-4 col-12">
                    <input type="text" class="filter-bar__search" placeholder="Buscar por objeto...">
                    <input value="search" type="submit" class="material-symbols-outlined">
                </div>
                <div class="filter-bar__logo-container col-md-6 col-0">
                    <img src="{%static '/IMAGES/logo_transparente_blanco.webp'%}" alt="logo" class="logo">
                </div>
            </div>
        </div>
        <div class="forms-container">
            <nav>
                <label for="create-borrowing" class="material-symbols-outlined close-formCreate hidden">arrow_back</label>
                <label for="edit-borrowing" class="material-symbols-outlined close-formEdit hidden">arrow_back</label>
            </nav>
            <input type="checkbox" {{checked_create}} id="create-borrowing">
            <form class="create-borrowing hidden" id='create-borrowing-form' method="POST">
                {% csrf_token %}    
                {{create_form}}
                <input type="submit" id="submit">
            </form>
            <input type="checkbox" {{checked_edit}} id="edit-borrowing">
            <form class="edit-borrowing hidden" id="edit-borrowing-form" method="POST">
                {% csrf_token %}
                <input type="hidden" name="id" id="borrowingId" value="{{id}}">
                <div>
                    <label for="editObject">Objeto:</label>
                    <select name="object" id="editObject" required>
                        {% for obj in objects %}
                            <option value="{{ obj.id }}" {% if edit_form.data.object|default:None|stringformat:"s" == obj.id|stringformat:"s" %}
                            selected {% endif %}>{{ obj.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div>
                    <label for="editInCharge">Encargado:</label>
                    <select name="in_charge" id="editInCharge" required>
                        {% for subuser in subusers %}
                            <option value="{{ subuser.id }}" {% if edit_form.data.in_charge|default:None|stringformat:"s" == subuser.id|stringformat:"s" %} selected {% endif %}>{{ subuser.user.first_name }} {{subuser.user.last_name}} - {{subuser.group.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div>
                    <label for="editStock">Cantidad:</label>
                    {% if edit_form.errors.stock %}
                    {{edit_form.errors.stock}}
                    {% endif %}
                    <input type="number" name="stock" id="editStock" required value="{{ edit_form.instance.stock|default:None }}">
                </div>
                
                <div>
                    <label for="editDateLimit">Fecha Límite:</label>
                    <input type="datetime-local" name="date_limit" id="editDateLimit" required value="{{ edit_form.data.date_limit|default:None }}">
                </div> 
              
                <div>
                    <label for="editStatus">Finalizar Préstamo:</label>
                    <input type="checkbox" name="status" id="editStatus">
                </div>
              
                <div class="form-actions">
                  <input type="submit" value="Guardar">
                </div>
            </form>

        </div> 
        <div class="borrowings-table__container">
            <table class="borrowings-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Objeto</th>
                        <th class="small-view">Encargado</th>
                        <th class="small-view">Cantidad</th>
                        <th class="small-view">Fecha Límite</th>
                        <th>Estado</th>
                        {% if permissions != "Estudiante" %}
                        <th>Editar</th>
                        {% endif %}
                    </tr>
                </thead>

                <tbody>
                    {% for borrowing in borrowings %}
                    {% if borrowing.in_charge == user.subprofile %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td class="object_name">{{borrowing.object.name}}</td>
                        <td class="small-view">{{borrowing.in_charge.user.first_name}} {{borrowing.in_charge.user.last_name}}</td>
                        <td class="small-view">{{borrowing.stock}}</td>
                        <td class="small-view">{{borrowing.date_limit}}</td>
                        <td>{% if borrowing.completed %}Completado{% else %}Pendiente{% endif %}</td>
                        {% if permissions != "Estudiante" %}
                        <td>
                            <label 
                                class="edit-button"
                                for="edit-borrowing"
                                data-id="{{ borrowing.id }}"
                                data-object="{{ borrowing.object.id }}"
                                data-in-charge="{{ borrowing.in_charge.id }}"
                                data-stock="{{ borrowing.stock }}"
                                data-date-limit="{{ borrowing.date_limit|date:'Y-m-d\\TH:i' }}"
                                data-status="{{ borrowing.status }}">
                                <span class="material-symbols-outlined">edit</span>
                            </label>
                        </td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>

            </table>
        </div>

    </main>
    {% if messages %}
    <div class="messages-container">
        {% for message in messages %}
        <div class="message-{{message.tags}}">
            <div class="message-text">
                {{ message }}
            </div>
            <div class="message-close-button" id="message-close-button" role="button" aria-label="Cerrar">
                <span class="material-symbols-outlined message-close-button">Close</span>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <script src="{%static '/SCRIPTS/borrowingsScript.js'%}"></script>
    <script src="{%static '/SCRIPTS/sidebarScript.js'%}"></script>
</body>
</html>