{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static '/CSS/error404Styles.css'%}">
    <title>Error 404</title>
    <link rel="icon" href="{%static '/IMAGES/LogoMini.webp'%}" type="image/webp">
    <meta name="description" content="Error 404">
    <meta name="author" content="LOG INVENTORY">
    <meta name="robots" content="noindex, nofollow">
</head>
<body>
    <div class="error">
        <h1>
            Error 404
        </h1>
        <div class="typewritter">
            <p>Objeto no encontrado.</p>
        </div>
    </div>
    <div class="image__container">
        <img src="../static/IMAGES/mini-totoros.webp" alt="mini-totoros">
    </div>
</body>
</html>