<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{profile.user.username}}</title>
</head>
<body>
    <main>
        <div>
            <img src="/media/{{profile.image}}" alt="">
        </div>
        <div>
            <form method="POST">
                {% csrf_token %}
                {{form}}
                <div>
                    <label for="password_id">Contraseña</label>
                    <input type='password' name='password' id="password_id"  placeholder='Password' disabled value='password'>
                    <button>
                        <a href="{% url 'change_password' %}">
                            cambiar contraseña(cambiar a imagen)
                        </a>
                    </button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>