<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
</head>
<body>
    <div>
        <form method="POST" enctype="multipart/form-data" class="signUp-form">
            {% csrf_token %}
            {% if messages %}
            <div class="message">
                {% if 'username' not in messages %}
                    <p>Si aún asi quieres crear el usuario, reescribe las contraseñas, vuelve a subir la imagen de perfil y haz click en "Sí".
                        Ten en cuenta que esto esto es por su seguridad y no nos hacemos cargo de lo que ocurra con su cuenta si no sigue las recomendaciones sobre la contraseña</p>
                    </p>
                    <input type="submit"  name="SignUp Confirmation" value="Crear Usuario">
                {% endif %}
            </div> 
            {% endif %}
            {{ signUp-form.as_p }}
            <input type="submit" value="Registrarse">
        </form>
    </div>
    <div>
            <form method="POST" enctype="multipart/form-data" class="logIn-form">
        {% csrf_token %}
        {{ logIn-form.as_p }}
        <input type="submit" name="LogIn Confirmation" value="Iniciar Sesión">
    </form>
    </div>
</body>
</html>