{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="{%static '/CSS/sideBarStyles.css'%}">
    <link rel="stylesheet" href="{%static '/CSS/subprofilesGroupStyles.css'%}">
    <title>Manejo de Grupos</title>
    <link rel="icon" href="{%static '/IMAGES/LogoMini.webp'%}" type="image/webp">
    <meta name="description" content="Subusers Groups Log Inventory">
    <meta name="author" content="Log Inventory">
    <meta name="robots" content="noindex, nofollow">
</head>
<body>
    {% include 'Users/sideBar.html' with path='manage_subusers' profile=profile type=type permissions=permissions%}
    <main>
        <div class="filter-bar"> 
            <div class="filter-bar__filter-container">
                <p>Grupos</p>
                <div class="filter-bar__logo-container">
                    <img src="{%static '/IMAGES/logo_transparente_blanco.webp'%}" alt="logo" class="logo">
                </div>
            </div>
        </div>
        {% for form in forms %}
        <div class="group-container">
            <form method="POST" class="group-image">
                <label for="id_image">
                    <img src="../../../media/profile_images/dalto.jpg" alt="Group Image">
                    <div class="image-overlay">
                        <label class="delete-image material-symbols-outlined" for="delete_image">delete</label>
                    </div>
                </label>
                {% csrf_token %}
                <input type="number" value="{{form.instance.id}}" hidden name="id">
                {{image_form}}
            </form>
            <form method="POST" class="group-info"> 
                {%csrf_token%}
                <input type="number" value="{{form.instance.id}}" hidden name="id">
                <div>
                    {%if form.instance.pk == group.pk %}
                    <ul class="errorlist">
                        <li>{{message}}</li>
                    </ul>
                    {%endif%}
                </div>
                <div class="group-name__container">
                    {{form.name.label}}
                    {{form.name}}
                    {%if form.instance.pk == group.pk %}
                    {{form_post.errors.name}}
                    {%endif%}
                </div>
                <div class="group-permissions__container">
                    {{form.permissions.label}}
                    {{form.permissions}}
                    {%if form.instance.pk == group.pk %}
                    {{form_post.errors.permissions}}
                    {%endif%}
                </div>
                <input type="submit" value="Guardar" class="save-button">
            </form>
            <div class="group-description__container">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, rem vitae aperiam at a quasi quisquam, minima quod cumque exercitationem ea impedit culpa, ipsam tempore perferendis dignissimos delectus laudantium neque.</p>
            </div>
            <form method="POST">
                {% csrf_token %}
                <input type="number" value="{{form.instance.id}}" hidden name="id">
                <input type="checkbox" name="delete_image" checked id="id_delete_checkbox" hidden>
                <input type="submit" id="delete_image" value="submit" hidden>
            </form>
        </div>
        {% endfor %}
    </main>
</body>
</html>