{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="{%static '/CSS/sideBarStyles.css'%}">
    <link rel="stylesheet" href="{% static '/CSS/subUsersStyles.css' %}">
    <title>Manejo de Usuarios</title>
    <link rel="icon" href="{%static '/IMAGES/LogoMini.webp'%}" type="image/webp">
    <meta name="description" content="Subusers Log Inventory">
    <meta name="author" content="Log Inventory">
    <meta name="robots" content="noindex, nofollow">
</head> 
<body>
    {% include 'Users/sideBar.html' with path='manage_subusers' profile=profile type=type %}
    <main>
        <div class="filter-bar"> 
            <div class="filter-bar__filter-container">
                <p>Usuarios</p>
                <div class="filter-bar__logo-container">
                    <img src="{%static '/IMAGES/logo_transparente_blanco.webp'%}" alt="logo" class="logo">
                </div>
            </div>
        </div>
        <div class="forms-container">
            <input type="checkbox" {{checked}} id="create-subuser">
            <form class="create-subuser" id='form-subuser' enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{form}}
                <input type="button" value="Crear Usuario" id="open-dialog">
                <input type="submit" hidden id="submit">
            </form>
            <input type="checkbox" {{checked_group}} id="create-group">
            <form class="create-group" method="POST">
                {% csrf_token %}
                {{group_form}}
                <input type="submit" value="Crear Grupo">
            </form>
        </div>
        <dialog id="group-dialog">
            <p>Para poder crear un usuario necesita un grupo primero, ¿Desea crear un grupo?</p>
            <button value=0 id="close-dialog">No</button>
            <button value=1 id="create">Si</button>
        </dialog>
        <div class="subusers-table__container">
            <table class="subusers-table">
                <tr>
                    <th>Nombre</th>
                    <th>Grupo</th>
                    <th>Correo</th>
                </tr>
                {% for subuser in subusers %}
                <tr onclick="window.location.href='/subprofile/{{ subuser.user.username }}';">
                    <td>{{subuser.user.username}}</td>
                    <td>{{subuser.group.name}}</td>
                    <td>{{subuser.user.email}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
    <script src="{%static '/SCRIPTS/subusersScript.js'%}"></script>
    <script src="{%static '/SCRIPTS/sidebarScript.js'%}"></script>
</body>
</html>