<aside class="sidebar">
    <form class="sidebar__form">
        <input type="checkbox" id="open-menu">
        <label class="material-symbols-outlined close-menu" for="open-menu">chevron_left</label>
        <label class="material-symbols-outlined open-menu" for="open-menu">chevron_right</label>
    </form>
    <nav class="sidebar__nav">
        <ul> 
            {% if path == 'main' %} 
            {% if permissions == 'admin' or permissions == "Profesor"  %}
            <li class="sidebar__tools">
                <p>Herramientas<span class="material-symbols-outlined">build</span></p>
                <div class="sidebar__item">
                    <label for="create-object" class="sidebar__item-link create-object-label">
                        <span class="material-symbols-outlined">add</span>
                        <p>Crear Objeto</p>
                    </label>
                </div> 
                <div class="sidebar__item">
                    <label for="create-group" class="sidebar__item-link create-group-label">
                        <span class="material-symbols-outlined">note_stack_add</span>
                        <p>Crear Grupo</p>
                    </label>
                </div>  
                <div class="sidebar__item">
                    <label for="delete" class="sidebar__item-link delete-object-label">
                        <span class="material-symbols-outlined">delete</span>
                        <p>Eliminar</p>
                        <div class="delete-options hidden">
                            <input type="submit" form="delete-form" value="check" id="delete-button" class="material-symbols-outlined">
                            <label for="delete" class="cancel-delete material-symbols-outlined">close</label>
                        </div>
                    </label>
                </div>
            </li>
            {% endif %}
            {% elif path == "manage_subusers" or path == "manage_subusergroups"%}
            <li class="sidebar__tools">
                <p>Herramientas<span class="material-symbols-outlined">build</span></p>
                <div class="sidebar__item">
                    <label for="create-subuser" class="sidebar__item-link create-subuser-label">
                        <span class="material-symbols-outlined">add</span>
                        <p>Crear Usuario</p>
                    </label>
                </div> 
                <div class="sidebar__item">
                    <label for="create-group" class="sidebar__item-link create-group-label">
                        <span class="material-symbols-outlined">group_add</span>
                        <p>Crear Grupo</p>
                    </label>
                </div> 
                <div class="sidebar__item">
                    <label for="delete" class="sidebar__item-link delete-object-label">
                        <span class="material-symbols-outlined">delete</span>
                        <p>Eliminar</p>
                        <div class="delete-options hidden">
                            <input type="submit" form="delete-form" value="delete" id="delete-button" class="material-symbols-outlined">
                            <label for="delete" class="cancel-delete material-symbols-outlined">close</label>
                        </div>
                    </label>
                </div>
            </li> 
            {% elif path == "log"  %}
            {% if permissions == 'admin' or permissions == "Profesor"  %}
            <li class="sidebar__tools">
                <p>Herramientas<span class="material-symbols-outlined">build</span></p>
                <div class="sidebar__item">
                    <label for="export-log" class="sidebar__item-link export-log-label">
                        <span class="material-symbols-outlined">arrow_circle_down</span>
                        <p>Exportar Historial</p>
                    </label> 
                </div> 
            {% endif %}
            {% elif path == 'manage_borrowings' %}
            {% if permissions == 'admin' or permissions == "Profesor" %}
            <li class="sidebar__tools">
                <p>Herramientas<span class="material-symbols-outlined">build</span></p>
                <div class="sidebar__item">
                    <label for="create-borrowing" class="sidebar__item-link create-borrowing-label">
                        <span class="material-symbols-outlined">add</span>
                        <p>Crear Préstamo</p>
                    </label>
                </div>
            </li>
            {% endif %}
            {% endif %}
            <li class="sidebar__item">
                <a href="{% url 'main' %}" class="sidebar__item-link {{active_objects}}">
                    <span class="material-symbols-outlined">view_object_track</span>
                    <p>Objetos</p>
                </a>
            </li>
            <li class="sidebar__item">
                <a href="{% url 'object_groups' %}" class="sidebar__item-link {{active_objects_groups}}">
                    <span class="material-symbols-outlined">all_inbox</span>
                    <p>Grupos de Objetos</p>
                </a>
            </li>
            <li class="sidebar__item">
                <a href="{% url 'manage_borrowings' %}" class="sidebar__item-link {{active_borrowings}}">
                    <span class="material-symbols-outlined">partner_exchange</span>
                    <p>Préstamos</p>
                </a>
            </li>
            <li class="sidebar__item">
                <a href="#" class="sidebar__item-link">
                    <span class="material-symbols-outlined">chat</span>
                    <p>Chats</p>
                </a>
            </li>
            {% if permissions == 'admin' or permissions == "Profesor" %}
            <li class="sidebar__item">
                <a href="{% url 'log' %}" class="sidebar__item-link {{active_log}}">
                    <span class="material-symbols-outlined">event_note</span>
                    <p>Historial</p>
                </a>
            </li>
            <li class="sidebar__item">
                <a href="{% url 'manage_subusers' %}" class="sidebar__item-link {{active_subusers}}">
                    <span class="material-symbols-outlined">manage_accounts</span>
                    <p>Usuarios</p>
                </a>
            </li>
            <li class="sidebar__item">
                <a href="{% url 'subusers_group' %}" class="sidebar__item-link {{active_subusers_groups}}">
                    <span class="material-symbols-outlined">Groups</span>
                    <p>Grupos de Usuarios</p>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div class="sidebar__profile">
        <ul>
            <li class="sidebar__item">
                
                {% if type == 'profile' %}
                <a href="{% url 'profile' user.id %}" class="item--profile sidebar__item-link {{active_profile}}">
                {% else %}	
                <a href="{% url 'subprofile' user.id %}" class="item--profile sidebar__item-link {{active_subprofile}}">
                {% endif %}
                    <img src="{{profile.image.url}}" alt="profile-img">
                    {% if type == 'profile' %}
                    <span id="username" class="profile-option">{{profile.user.username}}</span>
                    {% else %}	
                    <span id="username" class="profile-option">{{profile.user.first_name}}</span>
                    {% endif %}
                </a>
            </li>
            <li class="sidebar__item">
                <a href="{% url 'logout' %}" class="sidebar__item-link">
                    <span class="material-symbols-outlined">Logout</span>
                    <p>Cerrar Sesión</p>
                </a>    
            </li>
        </ul>
    </div>
</aside>