{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de usuarios</title>
</head>
<body>
    <div>
        {% for log in log_users %}
        <div>
            <p>Usuario afectado: {{log.user_changed.username}}</p>
            <p>Tipo de cambio:{% trans log.type_change.value %} </p>
            <p>Descripción: {% trans log.description %}</p>
            <p>Fecha: {{ log.date|time:"H:i" }}, {{log.date |date:"SHORT_DATE_FORMAT"}} </p>
            <form method="POST">
                <input type="submit" value="Retroceder cambio">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ log.user_changed.id }}">
                <input type="hidden" name="log_id" value="{{ log.id }}">
            </form>
        </div>
        {% endfor %}
    </div>
</body>
</html>