{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/logUsersStyles.css' %}">
    <title></title>
</head>
<body>
  <div class="history-container">
  <div class="history-title">
    <span>📘</span> Historial de Cambios
  </div>
  
  <div class="timeline">
    {% for log in log_groups %}
    <div class="timeline-entry">
      <div class="entry-time">{{ log.date|time:"H:i" }}, {{log.date |date:"SHORT_DATE_FORMAT"}}</div>
      <div class="entry-user">{{log.group_changed.name}}</div>
      <div class="entry-description">
        {% trans log.description %}
      </div>
    </div>
    {% endfor %}
    <!-- Más entradas aquí -->
    </div>
  </div>
  <div class="history-container">
  <div class="history-title">
    <span>📘</span> Historial de Cambios
  </div>
  <div class="timeline">
    {% for log in log_users %}
    <div class="timeline-entry">
      <div class="entry-time">{{ log.date|time:"H:i" }}, {{log.date |date:"SHORT_DATE_FORMAT"}}</div>
      <div class="entry-user">{{log.user_changed.username}}</div>
      <div class="entry-description">
        {% trans log.description %}
      </div>
    </div>
    {% endfor %}
    <!-- Más entradas aquí -->
    </div>
  </div>

</body>
</html>