{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="{%static '/CSS/sideBarStyles.css'%}">
    <link rel="stylesheet" href="{%static '/CSS/sideBarSmallStyles.css'%}">
    <link rel="stylesheet" href="{%static '/CSS/Users/profileStyles.css'%}">
    <title>Perfil - Log Inventory</title>
    <link rel="icon" href="{%static '/IMAGES/LogoMini.webp'%}" type="image/webp">
    <meta name="description" content="Configuración usuario Log Inventory">
    <meta name="author" content="Log Inventory">
    <meta name="robots" content="noindex, nofollow">
</head>
<body>
    {% include 'sideBar.html' with path='profile' profile=profile type=type active_profile="active" %}
    <main>
        <div class="filter-bar"> 
            <div class="filter-bar__filter-container">
                <div class="name">{{profile.user.username}}</div>
                <div class="filter-bar__logo-container">
                    <img src="{%static '/IMAGES/logo_transparente_blanco.webp'%}" alt="logo" class="logo">
                </div>
            </div>
        </div>
        <div class="profile-container">
            <div class="profile-img-container">
                <label for="id_image">
                    <div class="img-overlay">
                        <button id = 'id_delete_button'>
                            <span class="material-symbols-outlined">delete</span>
                        </button>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="checkbox" name="delete_image" id="id_delete_checkbox" hidden>
                            <input type="submit" id="delete_image" value="submit" hidden>
                        </form>
                    </div>
                    <img src="../../../media/{{profile.image}}" alt="profile-img" class="profile-img">
                </label>
                <form method="POST" enctype="multipart/form-data" class="image_form">
                    {% csrf_token %}
                    {{image_form}}
                    <input type="submit" id='id_submit' value="Cambiar imagen">
                </form>
            </div>
            <div class="info-container">
                <form method="POST">
                {% csrf_token %}
                
                <div>
                    <label for="id_username">Nombre de Usuario:</label>
                    {{form_post.errors.username}}
                    {{form.username}}
                </div>
                <div>
                    <label for="id_email">Correo Electrónico:</label>
                    {{form_post.errors.email}}
                    {{form.email}}
                </div>
                <div class="modify-password">
                    <label for="password_id">Contraseña:</label>
                    {{form_post.errors.password}}
                    <div>
                        <input type='password' name='password_support' id="password_id_support"  placeholder='Password' disabled value='password'>
                        <a title="Cambiar Contraseña" href="{% url 'change_password' %}"><span class="material-symbols-outlined">edit</span></a>
                    </div>
                </div>
                <input type="checkbox" value="Actualizar">
                <button id="open-dialog">Cambiar Información</button>
                <dialog id="modify-confirmation">
                    <div>
                        <label for="id_password">Ingresar Contraseña:</label>
                        {{form.password}}
                    </div> 
                    <div>
                        <input type="submit" value="Actualizar">
                    </div>
                    <button class="material-symbols-outlined" id="close-dialog">Close</button>
                </dialog>
                </form>
            </div>
        </div>
        
        
    </main>
    {% if messages %}
    <div class="messages-container">
        {% for message in messages %}
        <div class="message-{{message.tags}}">
            <div class="message-text">
                {{ message }}
            </div>
            <div class="message-close-button" id="message-close-button" role="button" aria-label="Cerrar">
                <span class="material-symbols-outlined message-close-button">Close</span>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <script src="{%static '/SCRIPTS/sidebarScript.js'%}"></script>
    <script src="{%static '/SCRIPTS/profileScript.js'%}"></script>
</body>
</html>