<aside class="sidebar">
    <form class="sidebar__form">
        <input type="checkbox" id="open-menu">
        <label class="material-symbols-outlined close-menu" for="open-menu">chevron_left</label>
        <label class="material-symbols-outlined open-menu" for="open-menu">chevron_right</label>
    </form>
    <nav class="sidebar__nav">
        <ul> 
            {% if path == 'main' %}
            {% if permissions == 'admin' or permissions == "Profesor"  %}
            <li class="sidebar__tools">
                <p>Herramientas<span class="material-symbols-outlined">build</span></p>
                <div class="sidebar__item">
                    <a href="#" class="sidebar__item-link">
                        <span class="material-symbols-outlined">add</span>
                        <p>Crear Objeto</p>
                    </a>
                </div> 
                <div class="sidebar__item">
                    <label for="create-group" class="sidebar__item-link">
                        <span class="material-symbols-outlined">add</span>
                        <p>Crear Grupo</p>
                    </label>
                </div>  
                <div class="sidebar__item">
                    <a href="#" class="sidebar__item-link">
                        <span class="material-symbols-outlined">delete</span>
                        <p>Eliminar</p>
                    </a>
                </div>
            </li>
            {% endif %}
            {% elif path == "manage_subusers" or path == "manage_subusergroups"%}
            <li class="sidebar__tools">
                <p>Herramientas<span class="material-symbols-outlined">build</span></p>
                <div class="sidebar__item">
                    <label for="create-subuser" class="sidebar__item-link create-subuser-label">
                        <span class="material-symbols-outlined">add</span>
                        <p>Crear Usuario</p>
                    </label>
                </div> 
                <div class="sidebar__item">
                    <label for="create-group" class="sidebar__item-link create-group-label">
                        <span class="material-symbols-outlined">add</span>
                        <p>Crear Grupo</p>
                    </label>
                </div> 
                <div class="sidebar__item">
                    <label href="#" class="sidebar__item-link">
                        <span class="material-symbols-outlined">delete</span>
                        <p>Eliminar</p>
                    </label>
                </div>
            </li>
            {% endif %}
            <li class="sidebar__item">
                <a href="{% url 'main' %}" class="sidebar__item-link">
                    <span class="material-symbols-outlined">view_object_track</span>
                    <p>Objetos</p>
                </a>
            </li>
            <li class="sidebar__item">
                <a href="#" class="sidebar__item-link">
                    <span class="material-symbols-outlined">partner_exchange</span>
                    <p>Prestamos</p>
                </a>
            </li>
            <li class="sidebar__item">
                <a href="#" class="sidebar__item-link">
                    <span class="material-symbols-outlined">event_note</span>
                    <p>Transacciones</p>
                </a>
            </li>
            <li class="sidebar__item">
                <a href="{% url 'manage_subusers' %}" class="sidebar__item-link">
                    <span class="material-symbols-outlined">manage_accounts</span>
                    <p>Usuarios</p>
                </a>
            </li>
        </ul>
    </nav>
    <div class="sidebar__profile">
        <ul>
            <li class="sidebar__item">
                
                {% if type == 'profile' %}
                <a href="{% url 'profile' user.username %}" class="item--profile sidebar__item-link">
                {% else %}	
                <a href="{% url 'subprofile' user.username %}" class="item--profile sidebar__item-link">
                {% endif %}
                    <img src="../../../media/{{profile.image}}" alt="profile-img">
                    <span id="username" class="profile-option">{{profile.user.username}}</span>
                </a>
            </li>
            <li class="sidebar__item">
                <a href="{% url 'logout' %}" class="sidebar__item-link">
                    <span class="material-symbols-outlined">Logout</span>
                    <p>Cerrar Sesión</p>
                </a>    
            </li>
        </ul>
    </div>
</aside>