{%load static%}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="{%static '/CSS/sideBarStyles.css'%}">
    <link rel="stylesheet" href="{%static '/CSS/sideBarSmallStyles.css'%}">
    <link rel="stylesheet" href="{%static '/CSS/Users/profileStyles.css'%}">
    <title>Usuario - Log Inventory</title>
    <link rel="icon" href="{%static '/IMAGES/LogoMini.webp'%}" type="image/webp">
    <meta name="description" content="Visualización subusuario Log Inventory">
    <meta name="author" content="Log Inventory">
    <meta name="robots" content="noindex, nofollow">
</head> 
<body>
    {% include 'sideBar.html' with path='subprofile' profile=profile type=type permissions=permissions active_subprofile="active"%}
    <main>
        <div class="filter-bar"> 
            <div class="filter-bar__filter-container">
                <div class="name">{{subprofile.user.first_name}} {{subprofile.user.last_name}}</div>
                <div class="filter-bar__logo-container">
                    <img src="{%static '/IMAGES/logo_transparente_blanco.webp'%}" alt="logo" class="logo">
                </div>
            </div>
        </div> 
        <nav>
            {% if permissions != "Estudiante" %}
            <div class="subusers-link__container"> 
                <a title="Volver a Usuarios" class="subusers-link" href="{% url 'manage_subusers' %}">
                    <span class="material-symbols-outlined">arrow_back</span>
                </a>
            </div>
            {% endif %}
        </nav>
        <div class="profile-container">
            <div class="profile-img-container">
                <label for="id_image">
                    <div class="img-overlay">
                        <button id = 'id_delete_button'>
                            <span class="material-symbols-outlined">delete</span>
                        </button>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="checkbox" name="delete_image" id="id_delete_checkbox" hidden>
                            <input type="submit" id="delete_image" value="submit" hidden>
                        </form>
                    </div>
                    <img src="{{subprofile.image.url}}" alt="profile-img" class="profile-img">
                </label>
                <form method="POST" enctype="multipart/form-data" class="image_form">
                    {% csrf_token %}
                    {{image_form}}
                    <input type="submit" id='id_submit' value="Cambiar imagen">
                </form>
            </div>
            <div class="info-container">
                <form method="POST">
                {% csrf_token %}
                <div>
                    <label for="id_first_name">Nombre:</label>
                    {{form_post.errors.first_name}}
                    {{form.first_name}}
                </div>
                <div>
                    <label for="id_last_name">Apellido:</label>
                    {{form_post.errors.last_name}}
                    {{form.last_name}}
                </div>
                <div>
                    <label for="id_email">Correo Electrónico:</label>
                    {{form_post.errors.email}}
                    {{form.email}}
                </div>
                <div>
                    <label for="id_group">Grupo:</label>
                    {{form_post.errors.group}}
                    {{form.group}}
                </div>
                
                {% if subprofile.user == user %}

                <div class="modify-password">
                    <label for="password_id">Contraseña:</label>
                    {{form_post.errors.password}}
                    <div>
                        <input type='password' name='password_support' id="password_id_support"  placeholder='Password' disabled value='password'>
                        <a title="Cambiar Contraseña" href="{% url 'change_password' %}"><span class="material-symbols-outlined">edit</span></a>
                    </div>
                </div>
                <input type="checkbox" value="Actualizar">
                <button id="open-dialog">Cambiar Información</button>
                <dialog id="modify-confirmation">
                    <div>
                        <label for="id_password">Ingresar Contraseña:</label>
                        {{form.password}}
                    </div> 
                    <div>
                        <input type="submit" value="Actualizar">
                    </div>
                    <button class="material-symbols-outlined" id="close-dialog">Close</button>
                </dialog>
                
                {% else %}

                <div>
                    <label for="id_new_password1">Contraseña</label>
                    {{password_form.errors.new_password2}}
                    <input type="password" name="new_password1" placeholder="Contraseña" maxlength="30" minlength="8" value="passwordNow" id="id_new_password1">
                </div>
                <div class="container-password hidden">
                    <label for="id_new_password2">Confirmación de contraseña:</label>
                    
                    <input type="password" name="new_password2" placeholder="Confirmar Contraseña"  maxlength="30" minlength="8"  id="id_new_password2">
                </div>
                <div class="button-container">
                    <input type="submit" value="delete" form="delete-form" class="delete-buton material-symbols-outlined" id="delete-button">
                    <input type="submit" value="Guardar cambios" class="submit-button" id="submit">
                </div>

                {% endif %}
                
            </form>
            <!-- Delete confirmation modal -->
        	<div id="deleteModal" class="modal-overlay" style="display: none;">
            	<div class="modal-content">
            	    <h3>Estás seguro?</h3>
            	    <p>Esto eliminará permanentemente el usuario.</p>
            	    <div class="modal-buttons">
            	        <button id="cancelDelete" class="btn-cancel">Cancelar</button>
            	        <button id="confirmDelete" class="btn-delete">Borrar</button>
            	    </div>
            	</div>
        	</div>
            
            </div>
        </div>
        <form method="POST" hidden id="delete-form" >
            {% csrf_token %}
            <input type="checkbox" name="delete_subprofile" id="id_delete_subprofile" checked hidden>
        </form>
        

    </main>
    {% if messages %}
    <div class="messages-container">
        {% for message in messages %}
        <div class="message-{{message.tags}}">
            <div class="message-text">
                {{ message }}
            </div>
            <div class="message-close-button" id="message-close-button" role="button" aria-label="Cerrar">
                <span class="material-symbols-outlined message-close-button">Close</span>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <script src="{%static '/SCRIPTS/sidebarScript.js'%}"></script>
    <script src="{%static '/SCRIPTS/subprofileScript.js'%}"></script>
</body>
</html>